name: Build and Push Image ECR

on:
  push:
    branches:
      - main
    paths:
      - 'application/**'

permissions:
  id-token: write   
  contents: read    

env:
  AWS_REGION: us-east-2
  ECR_REPOSITORY: simple-api

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build, Tag and Push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login_ecr.outputs.registry }}
        run: |          
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG ./application                   
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

          